.search-box {
    margin: 0 auto 40px;
    .main-search {
      border: 0;
      background-color: transparent;
      border-bottom: 1px solid white;
      width: 100%;
      font-size: 4vw;
      color: white;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      line-height: 100%;
      border-color: #4379FF;
      color: #4379FF;
  }
}

.btn {
  border: none;
  color: #1e90ff;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  bottom: 0.4rem;
  background: transparent;
  font-size: 3vw;
}

.search-section {
  position: relative;
  margin: 3rem 0;
}
