@import "../../styles/themes-density";



.search-section {
  position: relative;
  margin: 3rem 0;
  .search-box {
    margin: 0 auto 4rem;
    .input-search {
      border: 0;
      background-color: transparent;
      border-bottom: 1px solid var(--gb-font-color);
      width: 100%;
      font-size: 4vw;
      @include sm {
        font-size: 6vw;
      }
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      line-height: 100%;
      color: var(--gb-font-color);
    }
    .btn {
      border: none;
      color: var(--gb-font-color);
      cursor: pointer;
      position: absolute;
      right: 1rem;
      bottom: 0.4rem;
      background: transparent;
      font-size: 3vw;
      @include sm {
        font-size: 6vw;
      } 
    }
  }  
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }