@import './styles/themes-density';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--gb-sm-dark-color);
  text-align: left;
  .main-search {
    position: fixed;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--gb-bg-color);
    padding-bottom: 2rem;
    .container {
      @include md {
        max-width: 1140px;
        margin: 0 auto;               
      }
      
      @include rwd(768) {
        max-width: 700px;
        margin: 0 2rem; 
      }
    }
    .theme-section {
      display: flex;
      align-items: center;
      place-content: flex-end;
    }    
    .main-heading {
      font-size: 4vw;
      text-align: center;
      background: var(--gb-sm-gray-color);
      @include sm {
        font-size: 6vw;
      }
    }    
  }  
}



.validation-error {
  color: var(--gb-sm-error-color);
  font-size: 0.8rem;
  position: absolute;
}

#root {
    width: 1100px;
    margin: 0 auto;
}


a:hover, a:active, a:focus {
    text-decoration: none;
}

*:focus{
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--gb-font-color);
  opacity: 0.6; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--gb-font-color);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--gb-font-color);
}



.theme-section {
  color: var(--gb-font-color);  
  .theme-btn {
    font-size: 2rem;
    margin: 1rem;
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
  }
}