@import './styles/themes-density';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: "Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--gb-sm-dark-color);
  text-align: left;
}
.main-search {
  position: fixed;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--gb-bg-color);
  padding-bottom: 20px;
}
.main-heading {
  font-size: 4vw;
  text-align: center;
  background: var(--gb-sm-gray-color);
  @include sm {
    font-size: 6vw;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.theme-section {
  display: flex;
  align-items: center;
  place-content: flex-end;
}
.validation-error {
  color: var(--gb-sm-error-color);
  font-size: 0.8rem;
  position: absolute;
}
body {
  margin: 1em;
}

#root {
    width: 1100px;
    margin: 0 auto;
}

.search-bar {
    margin: 20px;
    text-align: center;
}

.search-bar input {
    width: 75%;
}


a:hover, a:active, a:focus {
    text-decoration: none;
}


*:focus{
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--gb-font-color);
  opacity: 0.6; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--gb-font-color);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--gb-font-color);
}

@media (max-width: 768px) {
  .container {
      max-width: 700px;
      margin: 0 2rem;
  }
}

@media (min-width: 1200px) {
  .container {
      max-width: 1140px;
      margin: 0 auto;
  }
}

.theme-section {
  color: var(--gb-font-color);  
  .theme-btn {
    font-size: 2rem;
    margin: 1rem;
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
  }
}